In [3]:
#print statement: Display the output of the code.
print("Welcome to the python session!") # double quotes is used to add string of single line
print('Welcome to the DataScience session!')# Single quotes is used to add string of single line
print('''hello world!
We are learning python today''')  # Triple quotes gives priveledge to add multiple lines.

Welcome to the python session!
Welcome to the DataScience session!
hello world!
We are learning python today

In [4]:
print("Hello world! I am abhishek.")
print('''
Hello World!
I am Abhishek''')

Hello world! I am abhishek.

Hello World!
I am Abhishek

In [6]:
print('''
Hello world!
I am abhishek''')

Hello world!
I am abhishek

In [7]:
paragraph='''
"Hello world my name is 'Abhishek'"'''
print(paragraph)

"Hello world my name is 'Abhishek'"

In [9]:
print("My name is 'Python'")

My name is 'Python'

In [11]:
sachin_info='''
"Sachin Ramesh Tendulkar" pronunciation
(help · info) (born 24 April 1973 in Mumbai)
is a former Indian cricketer.
'''
print(sachin_info)  # We can highlight the substring inside the string using
                    # double quotes if the outer shell is closed with single quotes or triple quotes.
                    # We can highlight the substring inside the string using the single quotes if the outer shell is closed with the
                    #double quotes or the triple quotes.

"Sachin Ramesh Tendulkar" pronunciation
(help · info) (born 24 April 1973 in Mumbai)
is a former Indian cricketer.

In [12]:
# Variables, values, data type

'''
Variables stores the value in it and can be used further in the programming.
Values are the actual value which holds the information/data.
data type: Its the characteristics of the variable or the value.
'''

x=10 # Here, x is variable and 10 is value.
print(x)  # displaying the output of the variable
print(10) # displaying the output of the value
print(type(x)) # displaying the data type of the variable
print(type(10)) # displaying the data type of the value

10
10
<class 'int'>
<class 'int'>

In [13]:
# Different types of data type:
'''
There are following types of data type of the variables/values:
1. Integer (Discrete values)
2. Float(Decimal Value)
3. String (words/alphabets/senetences/anything under double/single/triplequotes)
4. Boolean (True/False)
5. Date time ()
'''

#Examples:
#INT
x=10
print(type(x))
#Float
x=12.887
print(type(x))
#String
x="12.887"
print(type(x))
# Boolean
x=True
Y=False
print(type(Y))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>